@keyframes Magic {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

html,
body {
    height: 100%;
    background-color: wheat;
}
h1{
    text-align: center;
}
td {
    background-color: lightgray;
    border: 1px solid grey;
    height: 100px;
    width: 14%;
    vertical-align: text-top;
    padding-left: 10px;
    padding-top: 5px;
    cursor: pointer;
    transition: 0.2s;
    animation: Magic 1s;
    color: teal;
}

span {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

th {
    background-color: grey;
    color: white;
    border-collapse: collapse;
    border: 1px solid rgb(97, 96, 96);
    padding: 10px;
    font-weight: bold;
    animation: Magic 1s;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.empty {
    background-color: gainsboro;
}

.calendar {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.add {
    height: 200px;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.focus {
    background-color: rgba(255, 109, 109, 0.8);
    transform: scale(1.2);
    transition: 1s;
}